<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - Sport(s) Logos</title>
   <link rel="stylesheet" href="sportlogos.css" type="text/css">
</head>
<body>


  <div id="header">
    <span class='big'>Sport(s) Logos</span>
    <span class='small'></span>
  </div>

  <div id="nav">
   
    <a href="index.html">Home</a> |
    <a href="https://github.com/sportlogos">Data, Repos</a> |

    <a href="http://groups.google.com/group/opensport">What's New? &middot; Forum (Questions? Comments?)</a>
  </div>

    <div id="content">
      {{ content }}
      
      {% include editme.html %}
      
    </div>

</body>
</html>
